<div id="te_appView" name="sheet" class="panel active">
   <div id="te_toplevel">

      <div class="vertical-content">
         {# Table #}
         <div id="te_griddiv"></div>

         {# Vertical Scroll Bar #}
         <div class="tc-main vertical" id="te_tablecontrolv">
            <div class="tc-fixed-pane"></div>

            <div class="tc-panes-slider" id="te_panesliderv" title="Drag to lock pane vertically"></div>

            <div class="tc-less-button" id="te_lessbuttonv"></div>

            <div class="tc-scroll-area" id="te_scrollareav">
               <div class="tc-thumb" id="te_thumbv"></div>
            </div>

            <div class="tc-more-button" id="te_morebuttonv"></div>
         </div>
      </div>

      {# Horizontal Scroll Bar #}
      <div class="tc-main horizontal" id="te_tablecontrolh">
         <div class="tc-fixed-pane"></div>

         <div class="tc-panes-slider" id="te_panesliderh" title="Drag to lock pane horizontally"></div>

         <div class="tc-less-button" id="te_lessbuttonh"></div>

         <div class="tc-scroll-area" id="te_scrollareah">
            <div class="tc-thumb" id="te_thumbh"></div>
         </div>

         <div class="tc-more-button" id="te_morebuttonh"></div>
      </div>

      {# Bottom Right Corner #}
      <div></div>

      {# Helpers #}
      <div class="tracking-line vertical"></div>
      <div class="tracking-line horizontal"></div>

      <textarea id="te_pastetextarea" style="display:none"></textarea>

   </div>

   {# FormData, Still don't know what this table contained in this div is for #}
   <div id="te_formData" style="display: none;"></div>

   {# Status Bar #}
   <div id="SocialCalc-statusline"></div>
</div>