<div id="SocialCalc-clipboardtools" name="clipboard" class="tool-tab-content">
   <table cellspacing="0" cellpadding="0">
      <tbody>
         <tr>
            <td style="vertical-align:top;padding-right:24px;">
               <div style="font-size:x-small;font-weight:bold;color:#555753;">     &nbsp;    </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>