<div id="SocialCalc-commenttools" name="comment" class="tool-tab-content">
   <table cellspacing="0" cellpadding="0">
      <tbody>
         <tr>
            <td><textarea id="SocialCalc-commenttext" style="font-size:small;height:32px;width:600px;overflow:auto;" onfocus="SocialCalc.CmdGotFocus(this);" class="form-control"></textarea></td>
            <td style="vertical-align:top;">&nbsp;<input type="button" value="Enregistrer" onclick="SocialCalc.SpreadsheetControlCommentSet();" style="font-size:x-small;" class="btn btn-default btn-xs"></td>
         </tr>
      </tbody>
   </table>
</div>