{% macro button(command, fa='', img='', title='') %}
   {% if not img %}{% set img = command ~ '.svg' %}{% endif %}
   {% if not title %}{% set title = command %}{% endif %}
   {% set fontawesome = 'fas fa-' ~ fa if fa else "" %}

   {% if fontawesome %}<span
   {% else %}<img
   {% endif %}
     class="action-btn {{ fontawesome }}"
     src="{{ imagePrefix ~ img }}"
     id="{{ idPrefix }}button_{{ command }}"
     title="%loc!{{ title }}!" data-command="{{ command }}"/>
   {% if fontawesome %}</span>{% endif %}
{% endmacro %}

{% macro divider() %}
   <span class="divider"></span>
{% endmacro %}

<div id="{{ idPrefix }}edittools" name="table" class="tool-tab-content active">

   {# Remove those commands for now
      { command: 'swapcolors', title: "Swap Colors", fa: 'exchange-alt' },
      { command: 'deleterow', img: 'deleterows.png', title: "Delete Row" },
      { command: 'deletecol', img: 'deletecolumns.png', title: "Delete Column" },
      { command: 'hiderow', title: "Hide Row" },
      { command: 'hidecol', title: "Hide Column" },
      { command: 'movefrom', img: 'movefromoff.gif', title: "Set/Clear Move From" },
      { command: 'movepaste', img: 'movepasteoff.gif', title: "Move Paste" },
      { command: 'moveinsert', img: 'moveinsertoff.gif', title: "Move Insert" },
      { },
   #}

   {{ button('undo', fa='undo') }}
   {{ button('redo', fa='redo') }}

   {{ divider() }}

   {{ button('copy') }}
   {{ button('cut') }}
   {{ button('paste') }}
   {{ button('delete', title="Delete Cell Contents", img='eraser.svg') }}
   {{ button('pasteformats', img='formatpaintbrush.png', title="Paste Formats", fa="paint-roller") }}

   {{ divider() }}

   <span class="style-btn fas fa-bold" data-command="style.font-weight" data-value="bold" title="%loc!Bold!"></span>
   <span class="style-btn fas fa-underline" data-command="style.text-decoration" data-value="underline" title="%loc!underline!"></span>
   <span class="style-btn fas fa-italic" data-command="style.font-style" data-value="italic" title="%loc!Italic!"></span>

   <input type="color" class="style-input" data-command="style.color"/>

   {{ divider() }}

   <input type="color" class="style-input" data-command="style.background-color"/>

   <span class="style-btn fas fa-align-left"
         data-command="style.text-align" data-value="left"></span>

   <span class="style-btn fas fa-align-center"
         data-command="style.text-align" data-value="center"></span>

   <span class="style-btn fas fa-align-right"
         data-command="style.text-align" data-value="right"></span>

   <img class="style-btn" src="{{ imagePrefix}}align-top.svg"
         data-command="style.vertical-align" data-value="top"></span>

   <img class="style-btn fas" src="{{ imagePrefix}}align-middle.svg"
         data-command="style.vertical-align" data-value="middle"></span>

   <img class="style-btn fas" src="{{ imagePrefix}}align-bottom.svg"
         data-command="style.vertical-align" data-value="bottom"></span>

   {{ divider() }}

   <img class="style-btn" src="{{ imagePrefix}}crop.svg"
         data-command="style.content-overflow" data-value="crop"></span>

   <img class="style-btn" src="{{ imagePrefix}}over.svg"
         data-command="style.content-overflow" data-value="over"></span>

   <img class="style-btn" src="{{ imagePrefix}}multiline.svg"
         data-command="style.content-overflow" data-value="multiline"></span>

   {{ divider() }}

   <img class="style-btn" src="assets/images/border-all.svg" title="%loc!Borders On!" data-command="style.border" data-value="on">

   <div class="border-options">
     <div class="sel">
       <select class="style-select" data-command="style.border-width">
         <option value="" disabled>1px</option>
         <option value="1px">1px</option>
         <option value="2px">2px</option>
         <option value="3px">3px</option>
         <option value="4px">4px</option>
       </select>
     </div>

     {#<span class="style-btn" data-command="style.border-style" data-value="solid">solid</span>
     <span class="style-btn" data-command="style.border-style" data-value="dashed">dashed</span>
     <span class="style-btn" data-command="style.border-style" data-value="dotted">dotted</span>#}

     <input type="color" class="style-input" data-command="style.border-color"/>
   </div>

   {{ divider() }}

   {{ button('merge', title="Merge/Unmerge Cells") }}
   {{ button('insertrow', img='row-insert.svg', title="Insert Row Before") }}
   {{ button('insertcol', img='col-insert.svg', title="Insert Column Before") }}

   {{ divider() }}

   <span id="SC-link" class="action-btn fas fa-link" title="%loc!Link Input Box!"
         onclick="SocialCalc.SpreadsheetControlDoLink()"/></span>

   <img id="SC-sum" class="action-btn" src="{{ imagePrefix}}sigma.svg" title="%loc!Auto Sum!"
         onclick="SocialCalc.SpreadsheetControlDoSum()"/>

   <img id="SC-multilineinput" class="action-btn" src="{{ imagePrefix}}multiline.svg" title="Multi-line Input Box"
         onclick="SocialCalc.SpreadsheetControlDoMultiline()"/>

   {{ divider() }}

   {{ button('lock', title="Lock Cell", fa="lock") }}
   {{ button('unlock', title="Unlock Cell", fa="unlock") }}

   <!-- {{ button('recalc', title="Recalculate") }} -->

</div>

