#te_appView {
  height: 100%;

  // LAYOUT
  #te_toplevel {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;

    .vertical-content {
      flex: auto;
      display: flex;

      #te_griddiv { flex: auto; }
    }
  }

  // TABLE ITSELF
  #te_griddiv {
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
  }

  .tracking-line {
    position: absolute;
    display: none;
    background-color: grey;
    &.vertical { width: 100%; height: 2px; }
    &.horizontal { width: 2px;  height: 100%; }
  }

  // don't know why, for clipboard to work this textarea need to be displayed
  // so hidding it in other way with opacity and width
  #te_pastetextarea {
    bottom: 12px;
    width: 0px;
    opacity: 0;
    position: absolute;
  }


  #SocialCalc-statusline {
    position: absolute;
    right: $scrollbar-thickness;
    bottom: $scrollbar-thickness;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: 7px;
    border: 1px solid #e2e2e2;
    border-radius: 3px 3px 0 3px;
    background-color: #ffffff;
    box-shadow: -1px -1px 6px 0px rgba(60, 64, 67, 0.15);
  }
}