<div class="SC-formula-bar">
  <div class="formula-group">
    <img id="SC-formulafunctions" src="assets/images/function-1.svg" title="Functions"
         onclick="SocialCalc.SpreadsheetControlDoFunctionList()"/>
    <input id="SC-formula-input" type="text">
    <!-- <img id="SC-multilineinput" src="assets/images/sc_listbox.png" title="Multi-line Input Box"
         onclick="SocialCalc.SpreadsheetControlDoMultiline()"/> -->
  </div>

  <span class="divider"></span>

  <div class="search-group">
    <!-- <div id="searchstatus"></div> -->
    <span class="fas fa-search search-icon"></span>
    <input id="searchbarinput" value="" placeholder="Search sheet...">

    <!-- <span id="SC-last" class="search-btn fas fa-arrow-circle-up" title="Find Previous"
         onclick="SocialCalc.SpreadsheetControlSearchUp()"/></span>

    <span id="SC-next" class="search-btn fas fa-arrow-circle-down" title="Find Next"
         onclick="SocialCalc.SpreadsheetControlSearchDown()"/></span> -->
  </div>
</div>