{# Tools Tabs links #}
<div class="tools-tabs-links">
   <ul>
      <span class="logo">
        <img src="{{ imagePrefix}}logo.svg"/>
      </span>
      <span class="title">
        EtherCalc
      </span>
      <li name="table" class="active"
          data-view="sheet">
          %loc!Edit!</li>

      <li name="sort"
          data-view="sheet"
          data-onclick="SocialCalc.SpreadsheetControlSortOnclick">
          %loc!Sort!</li>

      <li name="comment"
          data-view="sheet"
          data-onclick="SocialCalc.SpreadsheetControlCommentOnclick",
          data-onunclick="SocialCalc.SpreadsheetControlCommentOnunclick">
          %loc!Comment!</li>

      <li name="names"
          data-view="sheet"
          data-onclick="SocialCalc.SpreadsheetControlNamesOnclick",
          data-onunclick="SocialCalc.SpreadsheetControlNamesOnunclick">
          %loc!Names!</li>

      <li name="clipboard"
          data-view="clipboard"
          data-onclick="SocialCalc.SpreadsheetControlClipboardOnclick",
          data-onclickFocus="clipboardtext">
          %loc!Clipboard!</li>

      <li name="audit"
          data-view="audit"
          data-onclick="SocialCalc.SpreadsheetControlAuditOnclick",
          data-onclickFocus=true>
          %loc!Audit!</li>
   </ul>
</div>

{# Tools Tabs content #}
<div class="tools-tabs-container">
   {% include 'tools/table.html.njk' %}
   {% include 'tools/sort.html.njk' %}
   {% include 'tools/comment.html.njk' %}
   {% include 'tools/names.html.njk' %}
   {% include 'tools/clipboard.html.njk' %}
   {% include 'tools/audit.html.njk' %}
</div>