.cell {
  padding: 2px;
  color: #3c4042;
  position: relative;

  &.selected-range:after, &.selected-range-initial:after {
    position: relative;
    content: "";
    position: absolute;
    background-color: $cell-selected-range-bg;
    top: 0; right: 0; left: 0; bottom: 0;
  }
  &.selected-range-initial:after {
    background-color: rgba(97, 124, 139, 0.12);
  }

  &.selected-cell:after {
    position: absolute;
    content: "";
    border: 2px solid $primary-color;
    top: -1px; right: -1px; left: -1px; bottom: -1px;
  }

  &.insert-up:after {
    border: none;
    border-top: 4px dashed $primary-color;
  }
  &.insert-left:after {
    border: none;
    border-left: 4px dashed $primary-color;
  }
}

.column-cell, .row-cell {
  border: 1px solid silver;
  background-color: #f8f9fa;
  text-align: center;
  line-height: 22px;
  font-size: 10px;
  // position: static;
  &.selected { background-color: #e8eaed; }
}

.row-cell { position: relative; }

// fake div to show resize cursor
.column-cell:not(.upper-left-cell):after {
  content: "";
  float: right;
  margin-right: -3px;
  width: 6px;
  height: 22px;
  background: transparent;
  cursor: col-resize;
}

// fake div to show resize cursor
.row-cell:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  height: 6px;
  background: transparent;
  cursor: row-resize;
}

.spacing-cell {
  background-color: $cell-default-border-color;

  &.header {
    background-color: $text-color;
    border-color: $text-color !important;
    &.col { border-right: 1px solid; }
    &.row { border-bottom: 1px solid; }
  }
  &.col { height: 5px; }
  &.row { width: 5px; height: 1px }
}