.cell {
  padding: 2px;
  color: #3c4042;
  position: relative;

  &.selected-range:after, &.selected-range-initial:after {
    position: relative;
    content: "";
    position: absolute;
    background-color: $cell-selected-range-bg;
    top: 0; right: 0; left: 0; bottom: 0;
  }
  &.selected-range-initial:after {
    background-color: rgba(97, 124, 139, 0.12);
  }

  &.selected-cell:after {
    position: absolute;
    content: "";
    border: 2px solid $primary-color;
    top: -1px; right: -1px; left: -1px; bottom: -1px;
  }

  &.insert-up:after {
    border: none;
    border-top: 4px dashed $primary-color;
  }
  &.insert-left:after {
    border: none;
    border-left: 4px dashed $primary-color;
  }
}


#input-echo {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 20;
  border: 2px solid $primary-color;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);

  .input-echo-text {
  }

  .input-echo-prompt {
    position: absolute;
    top: calc(100% + 3px);
    left: -2px;
    right: -2px;
    background-color: white;
    padding: 10px 10px;
    box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.13);
  }
}

.column-cell, .row-cell {
  border: 1px solid silver;
  background-color: #f8f9fa;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  &.selected { background-color: #e8eaed; }
}