.SC-formula-bar {
  border-top: 1px solid #dadce0;
  height: 30px;
  display: flex;

  input {
    border: none;
    height: 30px;
    padding: 0 5px;
    &:focus { outline:none !important; }
  }

  img {
    // vertical-align: middle;
    padding: 4px;
  }

  #SC-formulafunctions {
    height: 28px;
    padding: 6px 4px 2px 4px;
  }

  .divider {
    border-left: 1px solid #dadce0;
    margin-left: 7px;
    height: 30px;
  }

  .formula-group {
    flex: 1 auto;
    display: flex;

    #SC-formula-input {
      flex: 1 auto;
    }
  }

  .search-group {
    #searchbarinput {
      float: left;
      width: 200px;
      margin-left: 5px;
    }

    .search-btn {
      color: $icon-color;
      font-size: 15px;
    }

    #searchbarinput:hover ~ .search-icon { opacity: 1; }

    .search-icon {
      float: left;
      margin-top: 8px;
      font-size: 15px;
      margin-left: 10px;
      color: $icon-color;
      opacity: .8;
    }
  }
}