#input-echo {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 20;
  border: 2px solid $primary-color;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);

  .input-echo-prompt {
    display:none;
    position: absolute;
    top: calc(100% + 3px);
    left: -2px;
    right: -300%;
    width: 500px;
    max-height: 400px;
    overflow: auto;
    box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.13);

    .function-container {
      &:not(:last-child) { border-bottom: 1px solid #e2e3e3; }
      background-color: white;
      padding: 10px;
      transition: background-color .3s;
      &[data-function]:hover, &.selected {
        cursor: pointer;
        background-color: #ebeff0;
      }

      .function-title {
        .function-name {
          font-weight: bold;
          letter-spacing: 1px;
        }
        .function-args {
          font-style: italic;
          opacity: .8;
        }
      }
      .function-description {
        opacity: .8;
        font-size: .9em;
        padding-top: 5px;
      }
    }
  }
}