$scrollbar-thickness: 12px;

.tc-main {
  background-color: white;

  &.vertical {
    width: $scrollbar-thickness;
    position: relative;
    display: flex;
    flex-flow: column;
    height: calc(100% - 13px);
    box-shadow: -1px 3px 4px 0px #00000038;

    .tc-panes-slider { height: 8px; width: 100%; right: 0; transition: width .2s;}
    .tc-panes-slider:not(.dragging):hover { width: 200%; box-shadow: 0px 1px 5px 0px rgba(97, 123, 139, 0.5)}
    .tc-thumb { left: 1px; right: 1px; }

  }
  &.horizontal {
    height: $scrollbar-thickness;
    position: absolute;
    bottom: 1px;
    z-index: 500;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row;
    width: calc(100% - 13px);
    border-top: 1px solid #c6c7c6;
    box-shadow: 0px 1px 6px 0px #00000036;

    .tc-panes-slider { width: 8px; height: 100%; bottom: 0; transition: height .2s;}
    .tc-panes-slider:not(.dragging):hover { height: 200%; box-shadow: 1px 0px 5px 0px rgba(97, 123, 139, 0.5)}
    .tc-thumb { bottom: 1px; top: 1px; }
  }

  .tc-panes-slider {
    background-color: $primary-color;
    position: absolute;

    &#te_panesliderv:hover { cursor: row-resize; }
    &#te_panesliderh:hover { cursor: col-resize; }
  }

  .tc-scroll-area {
    background-color: white;
    flex: auto;
    position: relative;

    .tc-thumb {
      position: absolute;
      background-color: $text-color;
      opacity: .5;
      transition: opacity .2s;
      &.dragging { opacity: 1 !important; }
    }

    &:hover .tc-thumb { opacity: .7; }
  }

  .tc-less-button, .tc-more-button {
    position: relative;
    width: $scrollbar-thickness;
    height: $scrollbar-thickness;
    background-color: #f8f9fa;

    &:hover { cursor: pointer; }
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
    }
  }

  // Css Arrows
  #te_lessbuttonv:after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #9a9797;
    top: 3px;
    left: 3px;
  }
  #te_morebuttonv:after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #9a9797;
    top: 4px;
    left: 3px;
  }
  #te_lessbuttonh:after {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 5px solid #9a9797;
    top: 3px;
    left: 3px;
  }
  #te_morebuttonh:after {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 5px solid #9a9797;
    top: 3px;
    left: 4px;
  }
}


.custom-scroll-bar::-webkit-scrollbar-track {
    background-color: #f6f6f6;;
    border: 1px solid #f0f0f0;
}

.custom-scroll-bar::-webkit-scrollbar {
    width: 7px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b2bfc6;
}