<div id="{{ idPrefix }}edittools">
   <img id="{{ idPrefix }}button_undo" src="{{ imagePrefix }}undo.png">
   <img id="{{ idPrefix }}button_redo" src="{{ imagePrefix }}redo.png">
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_copy" src="{{ imagePrefix }}copy.png">
   <img id="{{ idPrefix }}button_cut" src="{{ imagePrefix }}cut.png">
   <img id="{{ idPrefix }}button_paste" src="{{ imagePrefix }}paste.png">
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_delete" src="{{ imagePrefix }}delete.png">
   <img id="{{ idPrefix }}button_pasteformats" src="{{ imagePrefix }}formatpaintbrush.png">
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_lock" src="{{ imagePrefix }}lock.png">
   <img id="{{ idPrefix }}button_unlock" src="{{ imagePrefix }}unlock.png">
  
   <img src="{{ imagePrefix }}divider1.png">
   
   <img id="{{ idPrefix }}button_filldown" src="{{ imagePrefix }}filldown.png">
   <img id="{{ idPrefix }}button_fillright" src="{{ imagePrefix }}fillright.png">
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_movefrom" src="{{ imagePrefix }}movefromoff.gif">
   <img id="{{ idPrefix }}button_movepaste" src="{{ imagePrefix }}movepasteoff.gif">
   <img id="{{ idPrefix }}button_moveinsert" src="{{ imagePrefix }}moveinsertoff.gif">
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_alignleft" src="{{ imagePrefix }}alignleft.png">
   <img id="{{ idPrefix }}button_aligncenter" src="{{ imagePrefix }}aligncenter.png">
   <img id="{{ idPrefix }}button_alignright" src="{{ imagePrefix }}alignright.png">
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_borderon" src="{{ imagePrefix }}borderson.png"> 
   <img id="{{ idPrefix }}button_borderoff" src="{{ imagePrefix }}bordersoff.png"> 
   <img id="{{ idPrefix }}button_swapcolors" src="{{ imagePrefix }}swapcolors.png"> 
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_merge" src="{{ imagePrefix }}mergecells.png"> 
   
   <img src="{{ imagePrefix }}divider1.png"> 
   
   <img id="{{ idPrefix }}button_insertrow" src="{{ imagePrefix }}insertrows.png"> 
   <img id="{{ idPrefix }}button_insertcol" src="{{ imagePrefix }}insertcolumns.png"> 
   <img id="{{ idPrefix }}button_deleterow" src="{{ imagePrefix }}deleterows.png"> 
   <img id="{{ idPrefix }}button_deletecol" src="{{ imagePrefix }}deletecolumns.png"> 
   <img id="{{ idPrefix }}button_hiderow" src="{{ imagePrefix }}hiderow.png"> 
   <img id="{{ idPrefix }}button_hidecol" src="{{ imagePrefix }}hidecol.png"> 
   <img id="{{ idPrefix }}divider_recalc" src="{{ imagePrefix }}divider1.png"> 
   <img id="{{ idPrefix }}button_recalc" src="{{ imagePrefix }}recalc.png">
</div>