<div id="{{ idPrefix }}settingstools" style="display:none;">
   <div id="{{ idPrefix }}sheetsettingstoolbar" style="display:none;">
      <table cellspacing="0" cellpadding="0">
         <tr>
            <td>
               <div class="toolbar-title">%loc!Sheet Settings!:</div>
            </td>
         </tr>
         <tr>
            <td>
               <input id="{{ idPrefix }}settings-savesheet" type="button" value="%loc!Save!" onclick="SocialCalc.SettingsControlSave('sheet');">
               <input type="button" value="%loc!Cancel!" onclick="SocialCalc.SettingsControlSave('cancel');">
               <input type="button" value="%loc!Show Cell Settings!" onclick="SocialCalc.SpreadsheetControlSettingsSwitch('cell');return false;">
            </td>
         </tr>
      </table>
   </div>
   <div id="{{ idPrefix }}cellsettingstoolbar" style="display:none;">
      <table cellspacing="0" cellpadding="0">
         <tr>
            <td>
               <div class="toolbar-title">%loc!Cell Settings!: <span id="{{ idPrefix }}settingsecell">&nbsp;</span></div>
            </td>
         </tr>
         <tr>
            <td>
               <input id="{{ idPrefix }}settings-savecell" type="button" value="%loc!Save!" onclick="SocialCalc.SettingsControlSave('cell');">
               <input type="button" value="%loc!Cancel!" onclick="SocialCalc.SettingsControlSave('cancel');">
               <input type="button" value="%loc!Show Sheet Settings!" onclick="SocialCalc.SpreadsheetControlSettingsSwitch('sheet');return false;">
            </td>
         </tr>
      </table>
   </div>
</div>